.error-container {
  margin: 5em 0 0 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-family: 'clonewars';
  color: rgba(101, 126, 212, 1);
  font-size: 3rem;
}
