.loading-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(50%, auto);
}

img {
  height: max-content;
  width: max-content;
  grid-column: 2;
  grid-row: 2;
}
