nav {
  grid-column: 1 / 3;
  margin: 5rem;
  padding: 1rem;
  background-color: rgba(54, 38, 167, 0.5);
  border: 2px solid rgba(251, 251, 255, 0.3);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
