/* PALETTE:
  black: #0D0106 rgba(13, 1, 6, 1)
  blue: #3626A7 rgba(54, 38, 167, 1)
  periwinkle: #657ED4 rgba(101, 126, 212, 1)
  red: #FF331F rgba(255, 51, 31, 1)
  white: #FBFBFF rgba(251, 251, 255, 1)
*/

/* RESET DEFAULT STYLE RULES:
  all: unset;
  display: revert;
*/

@font-face {
  font-family: 'redrocket';
  src: url('./css/fonts/red_rocket/redrocket.ttf');
}

@font-face {
  font-family: 'clonewars';
  src: url('./css/fonts/clonewars2.ttf');
}

@font-face {
  font-family: 'newspace';
  src: url('./css/fonts/New-Space.ttf');
}

@font-face {
  font-family: 'pinkrocket';
  src: url('./css/fonts/Pink-Rocket.ttf');
}

@font-face {
  font-family: 'rocketrinder';
  src: url('./css/fonts/Rocket-Rinder.otf');
}

@font-face {
  font-family: 'rocketwildness';
  src: url('./css/fonts/ROCKET-WILDNESS.ttf');
}

@font-face {
  font-family: 'rockprp';
  src: url('./css/fonts/rockprp.ttf');
}

@font-face {
  font-family: 'space';
  src: url('./css/fonts/SPACE.ttf');
}

@font-face {
  font-family: 'spaceline';
  src: url('./css/fonts/Spaceline.otf');
}

html {
  font-size: 15px;
  color: white;
}

body {
  background-image: url('./assets/jeremy-perkins-uhjiu8FjnsQ-unsplash.jpg');
}

* {
  margin: 0;
  /* box-sizing: border-box; */
  /* border: 5px solid white; */
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

input {
  cursor: pointer;
  border: none;
  background: none;
  height: 3rem;
  width: 25rem;
  font-size: 3rem;
  font-family: 'clonewars';
}

input:active {
  all: unset;
  display: revert;
}

a {
  color: rgba(54, 38, 167, 1);
  text-decoration: none;
  cursor: pointer;
}
