@font-face {
  font-family: 'redrocket';
  src: url('./css/fonts/red_rocket/redrocket.ttf');
}

@font-face {
  font-family: 'clonewars';
  src: url('./css/fonts/clonewars2.ttf');
}

@font-face {
  font-family: 'newspace';
  src: url('./css/fonts/New-Space.ttf');
}

@font-face {
  font-family: 'pinkrocket';
  src: url('./css/fonts/Pink-Rocket.ttf');
}

@font-face {
  font-family: 'rocketrinder';
  src: url('./css/fonts/Rocket-Rinder.otf');
}

@font-face {
  font-family: 'rocketwildness';
  src: url('./css/fonts/ROCKET-WILDNESS.ttf');
}

@font-face {
  font-family: 'rockprp';
  src: url('./css/fonts/rockprp.ttf');
}

@font-face {
  font-family: 'space';
  src: url('./css/fonts/SPACE.ttf');
}

@font-face {
  font-family: 'spaceline';
  src: url('./css/fonts/Spaceline.otf');
}

html {
  font-size: 15px;
}

body {
  background-color: purple;
}

* {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  all: unset;
  display: revert;
}

a {
  color: black;
  text-decoration: none;
}
